<div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= manga.title %>">
    </div>
    <div class="form-item">
        <label>Author</label>
            <select name="author">
                <% authors.forEach(author => { %>
                    <% if (author.id === manga.author) { %>
                        <option selected label = "<%= author.name %>" value="<%= author.id %>">
                    <% }else{ %>
                        <option label="<%= author.name %>" value="<%= author.id %>">
                    <% } %>
                <% }) %>
            </select>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Publish Date</label>
        <input type="date" name="publishDate"
              value="<%= manga.publishDate == null ? '' : manga.publishDate.toISOString().split('T')[0] %>">
    </div>
    <div class="form-item">
        <label>Chapter Count</label>
        <input type="number" name="chapterCount" min="1" value="<%= manga.chapterCount %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Cover</label>
        <input type="file" name="cover" class="manga-cover filepond">
    </div>
    <div class="form-item">
        <label>Description</label>
        <textarea name="description"><%= manga.description %></textarea>
    </div>
</div>



